{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - ¿Quiénes somos?{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{asset('css/quienes.css')}}" media="all">
{% endblock %}

{% block body %}

<div id="quienes_somos" class="div_main">
    <h2>¿Quiénes somos?</h2>
    <p>El espíritu por el que se crea TecnoComponentes es para poder ofrecer a todos los amantes de la tecnología los mejores componentes a precios asequibles, sin renunciar a la calidad ni a un buen servicio postventa. <br/><br/> Mantener el carácter del pequeño comercio, la cercanía con el cliente, el trato personalizado son las premisas sobre las que gira nuestra filosofía. Estas máximas nos auparon hasta convertirnos en un referente web de venta online de productos informáticos en España.</p>

    <p>Llegados a este punto, sólo podemos agradecer la confianza depositada en nosotros y el esfuerzo de toda la gente que ha pasado por aquí para hacer que TecnoComponentes fuera, sea y siga siendo, la tienda informática de referencia en España.</p>
    
    
    <h2>Nuestra Filosofía</h2>
    <h4>Atención al cliente</h4>
    <p>No te guardas ninguna duda o pregunta sobre ese artículo que tanto te gusta. En nuestro Centro de Soporte estamos deseando poder ayudarte.</p>
    
    <h4>Fácil Navegación</h4>
    <p>Nuestra web ha sido diseñada atendiendo a las opiniones y sugerencias de personas como tú, que queréis una web sencilla, rápida y atractiva.</p>
    
    <h4>Compra segura</h4>
    <p>Paga de forma cómoda, rápida y segura en nuestra tienda. Utiliza el método de pago que más se adapte a ti, transferencia, ingreso, tarjeta o contrareembolso. Fináncialo o págalo directamente en metálico en nuestra tienda.</p>
    
    <h4>Envíos rápidos</h4>
    <p>Nada más realizar tu pedido nos ponemos en marcha para que llegue lo antes posible. Si el artículo se encuentra en stock, el paquete queda preparado el mismo día.</p>
    
    <h4>Servicio técnico</h4>
    <p> Nuestro equipo de manitas es experto en montaje y reparación de equipos informáticos. No te pierdas entre tanto cable.</p>
    
    <h4>Tienda física</h4>
    <p>Además de ser la tienda online de referencia, también puedes visitarnos en nuestra tienda física. Aquí te asesoraremos en persona y recoger tus pedidos realizados mediante la web.</p>
    
</div>

   
{% endblock %}