/* -----------------PROMOCIONES-------------------*/
#promociones h2{
    text-align: center;
    text-decoration: underline;
    margin-top: 2%;
}
#promociones h3 a{
    color: #000;
}
#promociones article{
    text-align: center;
    text-decoration: underline;
    margin-top: 5%;
    margin-bottom: 8%;
    max-width: 1400px;
    max-height: 120px;
}
#promociones .zoom:hover{
    display: inline-block;
    cursor:pointer;
    transition: .3s;
    transform: scale(1.2);
}
/* -----------------------------------------*/